[Unit]
Description= DHCP Client
Before=network.target
After=wpa_supplicant.service

[Service]
Type=simple
ExecStart=/sbin/dhclient -d wlan0
ExecStop=/sbin/dhclient  -r wlan0

[Install]
WantedBy=multi-user.target
